<div class="flex justify-between items-center shadow py-2 px-21 mb-10">
  <div>
    <img src="assets/img/icono.png" alt="Logo" class="w-11" />
  </div>
  <div class="flex gap-10 text-gray-500">
    <button class="hover:text-gray-700 hover:cursor-pointer">World</button>
    <button class="hover:text-gray-700 hover:cursor-pointer">Sports</button>
    <button class="hover:text-gray-700 hover:cursor-pointer">Contacts</button>
    <button class="hover:text-gray-700 hover:cursor-pointer">Lifestyle</button>
    <button class="hover:text-gray-700 hover:cursor-pointer">Business</button>
    <button class="hover:text-gray-700 hover:cursor-pointer">Culture</button>
    <button class="hover:text-gray-700 hover:cursor-pointer">Fashion</button>
    <button class="hover:text-gray-700 hover:cursor-pointer">Tech</button>
  </div>
  <div>
    <img
      src="https://cdn.iconscout.com/icon/free/png-256/free-avatar-icon-svg-download-png-456322.png"
      alt=""
      class="w-9"
    />
  </div>
</div>
<div class="px-20 flex flex-col gap-6">
  <!-- banner i think -->
  <div class="px-2">
    <div class="text-4xl font-bold mb-2">Lifestyle.</div>
    <div class="text-gray-400">The latest trends and tips for a healthier, happier life.</div>
  </div>
  <!-- Content of the grid -->
  <div class="grid grid-cols-2 grid-rows-1 h-screen">
    <div class="p-2 grid grid-cols-2 grid-rows-[0.8fr_1fr] gap-4 mb-5">
      <div class="relative rounded-2xl col-span-2 p-6 shadow-lg overflow-hidden shadow-black/30">
        <!-- fondo gradiente -->
        <div class="absolute inset-0 bg-linear-to-r from-[#79B0AE] to-[#E6ECEB]"></div>

        <!-- imagen -->
        <div
          class="absolute inset-0 bg-no-repeat"
          style="
            background-image: url('assets/img/cafe.png');
            background-size: 200px;
            background-position: right 15% top 40%;
          "
        ></div>

        <!-- contenido -->
        <div class="relative z-10 flex flex-col justify-between items-start h-full font-medium">
          <div class="text-white text-3xl font-bold">Wake up and Smell the Coffee</div>
          <button class="bg-white text-[#79B0AE] py-2 px-6 rounded-sm">Read for $0.99</button>
        </div>
      </div>

      <div class="relative rounded-2xl p-6 shadow-lg shadow-black/30 overflow-hidden">
        <!-- fondo gradiente -->
        <div class="absolute inset-0 bg-linear-to-b from-[#3BACC9] to-[#E6ECEB]"></div>

        <!-- imagen -->
        <div
          class="absolute inset-0 bg-no-repeat"
          style="
            background-image: url('assets/img/planta.png');
            background-size: 300px;
            background-position: center bottom 25%;
          "
        ></div>

        <!-- contenido -->
        <div class="relative z-10 flex flex-col justify-between items-start h-full font-medium">
          <div class="text-white text-3xl font-bold">9 Air-Cleaning Plants Your Home Needs</div>
          <button class="bg-white text-[#3BACC9] py-2 px-6 rounded-sm">Read for $0.99</button>
        </div>
      </div>

      <div class="relative rounded-2xl p-6 shadow-lg shadow-black/30 overflow-hidden">
        <!-- fondo gradiente -->
        <div class="absolute inset-0 bg-linear-to-br from-[#FDA4AA] to-[#E6ECEB]"></div>

        <!-- imagen -->
        <div
          class="absolute inset-0 bg-no-repeat"
          style="
            background-image: url('assets/img/mano.png');
            background-size: 450px;
            background-position: center bottom;
          "
        ></div>

        <!-- contenido -->
        <div class="relative z-10 flex flex-col justify-between items-start h-full font-medium">
          <div class="text-white text-3xl font-bold">One Month Sugar Detox</div>
          <button class="bg-white text-[#FDA4AA] py-2 px-6 rounded-sm">Read for $0.99</button>
        </div>
      </div>
    </div>

    <div class="p-2 grid grid-cols-2 grid-rows-[1fr_0.8fr] gap-4 mb-5">
      <div
        class="relative rounded-2xl p-6 flex flex-col justify-between items-start shadow-lg shadow-black/30 overflow-hidden"
      >
        <!-- fondo gradiente -->
        <div class="absolute bg-[#0E1E2D] inset-0"></div>

        <!-- imagen -->
        <div
          class="absolute inset-0 bg-no-repeat"
          style="
            background-image: url('assets/img/edificio.png');
            background-size: 450px;
            background-position: center bottom;
          "
        ></div>

        <!-- contenido -->
        <div class="relative z-10 flex flex-col justify-between items-start h-full font-medium">
          <div class="text-white text-3xl font-bold">The Brand New NASA Oficce</div>
          <button class="bg-white text-[#0E1E2D] py-2 px-6 rounded-sm">Read for $0.99</button>
        </div>
      </div>

      <div class="relative rounded-2xl p-6 flex flex-col justify-between items-start shadow-lg shadow-black/30 overflow-hidden">
        
        <div class="absolute inset-0 bg-linear-to-b from-[#CCA485] to-[#E6ECEB]"></div>

        <!-- imagen -->
        <div
          class="absolute inset-0 bg-no-repeat"
          style="
            background-image: url('assets/img/brazo.png');
            background-size: 450px;
            background-position: center bottom;
          "
        ></div>

        <!-- contenido -->
        <div class="relative z-10 flex flex-col justify-between items-start h-full font-medium">
          <div class="text-white text-3xl font-bold">Experience the Saharan Sands</div>
          <button class="bg-white text-[#CCA485] py-2 px-6 rounded-sm">Read for $0.99</button>
        </div>
      </div>

      <div
        class="relative rounded-2xl col-span-2 p-6 shadow-lg shadow-black/30 overflow-hidden"
      >
        <div class="absolute inset-0 bg-linear-to-r from-[#6BC1FD] to-[#E6ECEB]"></div>

        <!-- imagen -->
        <div
          class="absolute inset-0 bg-no-repeat"
          style="
            background-image: url('assets/img/edificio.png');
            background-size: 400px;
            background-position: right bottom;
          "
        ></div>

        <!-- contenido -->
        <div class="relative z-10 flex flex-col justify-between items-start h-full font-medium">
          <div class="text-white text-3xl font-bold">Shooting Minimal Instagram Photos</div>
          <button class="bg-white text-[#6BC1FD] py-2 px-6 rounded-sm">Read for $0.99</button>
        </div>
      </div>
    </div>
  </div>
</div>
