<main class="h-screen grid place-items-center bg-purple-50">
  <div class="bg-white p-7 rounded-lg shadow-lg w-1/3">
    <h1 class="text-lg font-semibold">Contact Us</h1>
    <form class="flex flex-col gap-3 mt-4" (submit)="onSubmit($event)">
      <div class="flex flex-col gap-1">
        <label class="block text-sm" for="name">Name</label>
        <input
          class="border border-gray-300 p-2 rounded"
          type="text"
          id="name"
          [formField]="form.name"
        />
        @if (form.name().invalid() && form.name().touched()) {
          @for (item of form.name().errors(); track $index) {
            <p class="text-red-500 text-xs">{{ item.message }}</p>
          }
        }
      </div>

      <div class="flex flex-col gap-1">
        <label class="block text-sm" for="email">Email</label>
        <input
          class="border border-gray-300 p-2 rounded"
          type="email"
          id="email"
          [formField]="form.email"
        />
        @if (form.email().invalid() && form.email().touched()) {
          @for (item of form.email().errors(); track $index) {
            <p class="text-red-500 text-xs">{{ item.message }}</p>
          }
        }
      </div>

      <div class="flex flex-col gap-1">
        <label class="block text-sm" for="message">Message</label>
        <textarea
          class="border border-gray-300 p-2 rounded"
          id="message"
          [formField]="form.description"
        ></textarea>
        @if (form.description().invalid() && form.description().touched()) {
          @for (item of form.description().errors(); track $index) {
            <p class="text-red-500 text-xs">{{ item.message }}</p>
          }
        }
      </div>

      <div class="flex justify-end mt-3">
        <button class="bg-purple-500 text-white py-2 px-4 rounded">Submit</button>
      </div>
    </form>
  </div>
</main>
